.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

mat-form-field {
    width: 100%;
}

mat-hint {
    margin: 5px;
}

.action-btns {
    float: right;
    margin-right: 10px;
}

.action-btns button {
    padding: 20px;
}